.logoSide {
  height: 100%;
  background-image: url(./right-background.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo1 {
  width: 454px;
  height: 342px;
}

/* SMALLER SCREEN STUFF (under 800px) */

.mobileView {
  display: none !important;
}
.monitorView {
  display: flex !important;
}

.mobileCol {
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-bottom: 10%;
}

@media only screen and (max-width: 800px) {
  .mobileView {
    display: flex !important;
  }
  .monitorView {
    display: none !important;
  }
  #logo1 {
    align-self: center;
    padding-bottom: 10%;
    width: 60%;
  }
}
