.divider {
  color: var(--color-dark-gray);
  background-color: var(--color-dark-gray);
  height: 3px;
  margin: 0;
}

.form-wrapper {
  margin: auto;
  max-width: 1110px;
  overflow-x: hidden;
}

.improvement-graph {
  width: 100%;
  margin: 90px 0 40px 0;
}

.top-button {
  max-width: fit-content;
  font-weight: bold;
  font-style: italic;
}
