/* css in loginForm was overriding my form */
.site-form {
  display: block;
}

.formwrapper {
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  align-items: left;
}

.form-header {
  height: 90px;
  background-color: rgba(178, 178, 178, 0.5);
}

.form-title {
  font-size: 28px;
  padding-left: 20px;
  padding-top: 25px;
}

/* all the text areas */
.subtitles {
  font-family: Calibr, 'sans-serif';
  font-size: 24px;
  padding-top: 20px;
  padding-left: 30px
}

.input-area {
  font-family: Calibr, 'sans-serif';
  font-size: 16px;
  padding: 0px 30px 10px 50px;
}

label {
  padding-top: 10px;
}

.form-control {
  margin-top: 5px;
}

/* save button */
.save-btn {
  width: 160px;
  background-color: #3288C4;
  margin: 60px 0px 30px 70px;
}
