/* css in loginForm was overriding my form */
.form-group {
  display: block;
}

.formwrapper {
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  align-items: left;
}

.subtitles {
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px
}

.input-area {
  padding: 0px 30px 10px 30px;
}

label {
  padding-top: 10px;
}

input {
  padding-top: 5px;
}
