.form-wrapper {
  margin: auto;
  max-width: 1110px;
}

.improvement-graph {
  width: 100%;
  margin-bottom: 40px;
}

.top-button {
  max-width: fit-content;
  font-weight: bold;
  font-style: italic;
}
