@import '../../common/vars.css';

.create-student-group-modal {
  background-color: #fdfdfd;
  color: #000;
  font-family: var(font-family), Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  width: 40%;
  height: 1000px;
  border: 1.5px solid #ced4da;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 25%;
}

.create-student-group-modal-top-bar {
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #ced4da;
}

.create-student-group-modal-top-bar-title {
  font-size: 25px;
  font: Calibri;
  text-align: center;
}

.create-student-group-modal-body {
  padding: 10px 15%;
}

.create-student-group-school-cycle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.create-student-group-meeting {
  display: flex;
  flex-direction: row;
}

.create-student-group-modal-field-desc {
  padding: 30px 10px 10px 5px;
  font-size: 20px;
}

.create-student-group-badges {
  display: flex;
  flex-wrap: wrap;
}

.modal-text-input {
  border: 1px solid #ced4da;
  color: #767676;
  border-radius: 10px;
  text-align: left;
  padding: 22px 0px 22px 17px;
  width: 98%;
  border-radius: 10px;
  border: 1px solid #ced4da;
  line-height: 32px;
  font-family: var(font-family), Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.create-student-group-exit-button {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #fdfdfd;
  /* border: 1px dotted black; */
  border: 0px;
  font-weight: 800;
  cursor: pointer;
}

.create-student-group-cancel-button {
  background-color: var(--color-dark-gray);
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  size: 16px;
  border-radius: 4px;
  text-align: center;
  border-width: 4px;
  border-color: #fdfdfd;
  padding: 6px 12px 6px 12px;
  position: absolute;
  bottom: 20px;
  right: 130px;
  cursor: pointer;
}

.create-student-group-save-button {
  background-color: var(--color-baby-blue);
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  padding: 6px 12px 12px 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-width: 1px;
  border-color: #fdfdfd;
  cursor: pointer;
}

.student-badge {
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: var(--color-gray-white) !important;
  color: #212529;
  padding: 10px;
  padding-right: 15px;
}

.student-badge-icon {
  margin-right: 6px;
  padding: 2px;
}

.time-input {
  width: 190px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding: 0px 15px 0px 15px;
  color: #6C757D;
}

.students-select:active {
  margin: 3px red,
}

.dropdown-outer-class {
  width: 47%;
}

.dropdown-inner-class {
  padding: 5px;
}

.dropdown-choice-wrapper-class {
  padding: 0px;
}

.dropdown-choice-selected {
  color: black;
  font-size: 19px;
  padding-left: 5px;
}

.dropdown-choice-selected:hover {
  text-decoration: none;
  background-color: whitesmoke;
}

.dropdown-choice-selected:active {
  color: black;
  background-color: #B2D4FF;
  font-size: 19px;
  padding-left: 5px;
}

.dropdown-choice-unselected {
  color: #6C757D;
  font-size: 19px;
  padding-left: 5px;
}

.dropdown-choice-unselected:hover {
  text-decoration: none;
  background-color: whitesmoke;
  color: black;
}

.dropdown-choice-unselected:active {
  color: black;
  background-color: #B2D4FF;
  font-size: 19px;
  padding-left: 5px;
}
