.create-teacher-modal {
  background-color: #fdfdfd;
  color: #000;
  font-family: 'SF Compact', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  width: 50%;
  height: 600px;
  border: 1.5px solid #ced4da;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 25%;
}

.create-teacher-modal-top-bar {
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #ced4da;
}

.create-teacher-modal-top-bar-title {
  font-size: 20px;
  font: Calibri;
  text-align: center;
}

.create-teacher-modal-body {
  padding: 10px 15%;
}

.create-teacher-modal-field-desc {
  padding: 30px 10px 15px 10px;
}

.modal-text-input {
  border: 1px solid #ced4da;
  color: #767676;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ced4da;
  line-height: 32px;
  font-family: 'SF Compact', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.create-teacher-exit-button {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #fdfdfd;
  /* border: 1px dotted black; */
  border: 0px;
  font-weight: 800;
}

.create-send-button {
  background-color: #17a2b8;
  color: #fdfdfd;
  width: 188px;
  height: 36px;
  border-radius: 4px;
  size: 16px;
  text-align: center;
  border-width: 1px;
  border-color: #fdfdfd;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 130px;
}

.create-save-button {
  background-color: #3288c4;
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-width: 1px;
  border-color: #fdfdfd;
}
