.teachers-create-view {
  color: green;
  background-color: #eeeeee;
  height: 500px;
  width: 500px;
}

.create-teacher-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.create-teacher-button {
  background-color: #3288c4;
  color: #fdfdfd;
  width: 90%;
  border: 0px;
  border-radius: 15px;
  padding: 10px;
  /* margin: 10px; */
  line-height: 20px;
  font-size: 16px;
  font-family: 'SF Compact', Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.create-teacher-button:hover {
  transition: 0.25s;
  background-color: #17a2b8;
}
