@import '../../common/vars.css';

.edit-student-group-modal {
  background-color: #fdfdfd;
  color: #000;
  font-family: var(font-family), Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  width: 50%;
  height: 1000px;
  border: 1.5px solid #ced4da;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 25%;
}

.edit-student-group-modal-top-bar {
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #ced4da;
}

.edit-student-group-modal-top-bar-title {
  font-size: 20px;
  font: Calibri;
  text-align: center;
}

.edit-student-group-modal-body {
  padding: 10px 15%;
}

.edit-student-group-school-cycle {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.edit-student-group-meeting {
  display: flex;
  flex-direction: row;
}

.edit-student-group-modal-field-desc {
  padding: 30px 10px 15px 10px;
}
/*
Badge {
  background-color: var(--color-gray-white);
} */

.edit-student-group-badges {
  display: flex;
  flex-wrap: wrap;
}

.modal-text-input {
  border: 1px solid #ced4da;
  color: #767676;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ced4da;
  line-height: 32px;
  font-family: 'SF Compact', Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.edit-student-group-exit-button {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #fdfdfd;
  /* border: 1px dotted black; */
  border: 0px;
  font-weight: 800;
  cursor: pointer;
}

.edit-cancel-button {
  background-color: var(--color-dark-gray);
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  size: 16px;
  text-align: center;
  border-width: 4px;
  border-color: #fdfdfd;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 130px;
  cursor: pointer;
}

.edit-save-button {
  background-color: var(--color-baby-blue);
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-width: 1px;
  border-color: #fdfdfd;
  cursor: pointer;
}

.student-badge {
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: var(--color-gray-white) !important;
  color: #212529;
  padding: 10px;
  padding-right: 15px;
}

.student-badge-icon {
  margin-right: 6px;
}
