.dropdown-button button {
  color: var(--text-color-white);
}

.filter-button {
  color: var(--text-color-white);
}

.create-btn {
  margin: 10px;
}

.create-btn:focus {
  outline: none;
}

.ctrl-group {
  width: 100%;
}

.inner-ctrl {
  display: inline-block;
  padding: 10px;
}

.ctrl-margin {
  margin-left: 1em;
}

.search {
  display: flex;
  align-items: center;
}
.search-bar {
  margin: 0 !important;
  border-right: none !important;
}
#search-icon {
  border-left: none !important;
  background-color: #fff !important;
}
