@import '../../common/vars.css';

.create-btn {
  margin: 10px;
}

.create-btn:focus {
  outline: none;
}

.ctrl-group {
  width: 100%;
}

.inner-ctrl {
  display: inline-block;
}

.ctrl-margin {
  margin-left: 1em;
}

.btn-primary {
  background-color: var(--color-primary);
}
