@import '../../common/vars.css';

.export-button {
  background-color: var(--color-dark-blue-muted);
  color: var(--text-color-white);
}

.dropdown-button button {
  color: var(--text-color-white);
}

.filter-button {
  color: var(--text-color-white);
}

.create-btn {
  margin: 10px;
}

.create-btn:focus {
  outline: none;
}

.ctrl-group {
  width: 100%;
}

.inner-ctrl {
  display: inline-block;
  padding: 10px;
}

.ctrl-margin {
  margin-left: 1em;
}
