.setting-view {
  font-family: Calibri, sans-serif;
  color: #003459;
}

.title {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

.subtitle {
  font-size: 28px;
  margin-top: 30px;
}

.profile-pic {
  text-align: center;
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
  background: lightgray;
  border-radius: 10px;
}

.label-heading {
  font-size: 22px;
  margin-top: 15px;
  /* margin: 20px; */
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  font-size: 18px;
  margin-left: 20px;
}

.transparent-input:focus {
  outline: none !important;
}
.change-button{
  margin-top: 25px;
}

.user-input {
  margin-left: 30px;
  margin-right: 20px;
}

.status-btn {
  margin-left: 20px;
  /* margin-top: 10px; */
}

.logout {
  font-family: SF Pro Display, Sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  text-decoration-line: underline;
  color: #e53e3e;
  margin-top: 100px;
}
