.master-teacher-confirmation-modal {
  background-color: #fdfdfd;
  color: #000;
  font-family: 'SF Compact', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  width: 30%;
  height: 240px;
  border: 1.5px solid #ced4da;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 35%;
}

.master-teacher-confirmation-modal-top-bar {
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #ced4da;
}

.master-teacher-confirmation-modal-top-bar-title {
  font-size: 20px;
  font: Calibri;
  text-align: center;
}

.master-teacher-confirmation-modal-body {
  padding: 10px 15%;
}

.master-teacher-confirmation-modal-desc {
  padding: 30px 10px 15px 10px;
}

.master-teacher-confirmation-modal-msg {
  text-align: center;
  line-height: 28px;
}

.master-teacher-confirmation-modal-exit-button {
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: #fdfdfd;
  /* border: 1px dotted black; */
  border: 0px;
  font-weight: 800;
  cursor: pointer;
}

.master-teacher-confirmation-modal-save-close-button {
  background-color: #5f758d;
  color: #fdfdfd;
  width: 96px;
  height: 36px;
  border-radius: 4px;
  size: 16px;
  text-align: center;
  border: 0px;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 186px;
  cursor: pointer;
}

.master-teacher-confirmation-modal-create-another-button {
  background-color: #3288c4;
  color: #fdfdfd;
  width: 150px;
  height: 36px;
  border-radius: 4px;
  padding: 6px, 12px, 6px, 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 0px;
  cursor: pointer;
}
