.form-body {
  margin-left: 100px;
  margin-right: 100px;
}

.input-area {
  width: 100%;
  padding-bottom: 20px;
}

.input-area p {
  margin-bottom: 5px;
  width: 100%;
  text-align: left;
}

.required:after {
  content: '*';
  color: red;
}

.ethnicity-badge {
  background-color: #e9ecef !important;
  margin-right: 1em;
  margin-bottom: 0.5em;

  line-height: 1.5;
  font-size: 14px;
  font-family: 'Calibri';
  font-weight: 400;
}

.cancel-button {
  background-color: #868e96;
}

.save-button {
  color: white;
}
