* {
  box-sizing: border-box;
}

.site-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-container > div {
  padding: 50px;
}

.school-year-info {
  display: inline-flex;
}

.school-year-info > * {
  margin: auto;
}

.school-year-input {
  margin: 0 20px;
}

.data {
  text-align: center;
  border-left: 1px solid #c4c4c4;
}

.graph {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.stats {
  background: #e9ecef;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: auto;
  width: 200px;
  padding: 20px;
  margin: 20px 0;
}

.btn-warning {
  background: #ffd350;
  text-decoration-color: black;
}
