@import '../../common/vars.css';
.form-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: 24px 0;
}

.form-header p {
  font-size: 28px;
  margin: 0;
  padding: 0;
  align-self: center;
  color: var(--color-dark-gray);
}

.form-header button {
  margin: 0;
}

.scorecard-table {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 45px;
}

.scorecard-table th, td {
  border: 1px solid #B9B9B9;
}

.scorecard-table th {
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  background: var(--color-dark-gray);
  color: white;
}

.notes {
  width: 100%;
  height: 200px;
}

/* Row styles */

.attitude-row td {
  text-align: center;
  vertical-align: middle;
  height: 90px;
}

.question {
  max-width: 265px;
  min-width: 265px;
  padding: 0 8px;
  background: var(--color-gray-blue-muted2);
}

.row-notes {
  max-width: 200px;
  min-width: 200px;
  vertical-align: center;
}

.player-score {
  max-width: 90px;
  min-width: 90px;
  background: var(--color-gray-white);
  font-weight: bold;
}

.row-note-input {
  width: 100%;
  height: 90%;
  padding: 0;
  border: none !important;
  resize: none;
  vertical-align: middle;
  overflow-y: hidden;
  line-height: normal;
}

.row-note-input::-webkit-input-placeholder {
  text-align: center;
  line-height: 90px;
}

.score-input {
  max-width: 48px;
}

.input-error {
  border: 1px solid red;
}
.input-error:focus {
  outline: none !important;
  border: 1px solid red;
}
