
.export-button {
  background-color: var(--color-dark-blue-muted);
  color: var(--text-color-white);
}



.csvLink{
  color: var(--text-color-white);
  text-decoration: none;
}

.csvLink:focus{
  color: var(--text-color-white);
  text-decoration: none;
}

.site-export{
  max-height: 36px;
  width: 160px;
  background-color: var(--color-dark-blue-muted);
  color: var(--text-color-white);
}


