.main {
  padding: 0 5vw;
  margin-bottom: 10em;
}

.section {
  margin: 3em 0;
}

.empty-view {
  color: var(--text-color-dark-gray);
  text-align: center;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.graph {
  width: 30vw;
  height: 20vw;
  position: relative;
  margin: 4vh 0;
  min-width: 300px;
  min-height: 300px;
}

.header > h3 {
  margin: 0;
}

.gray-text {
  color: var(--text-color-dark-gray);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  column-gap: 55px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.create-button {
  padding: 4px 8px;
}

.create-button:hover {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
  color: var(--text-color-white);
}

.arrow {
  position: absolute;
  margin-left: 25em;
  margin-right: 5em;
  top: 0;
  left: 0;
}

.students-container {
  position: relative;
}
