.main {
  padding: 0 4em;
  margin-bottom: 10em;
}

.section {
  margin: 3em 0;
}

.toggle-bar{
  display: flex;
  flex-direction: row;
}


.empty-view {
  color: var(--text-color-dark-gray);
  text-align: center;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.graph {
  width: 40vw;
  height: 40vh;
  position: relative;
}

.arrow {
}

.header > h3 {
  margin: 0;
}

.gray-text {
  color: var(--text-color-dark-gray);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
  column-gap: 55px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.create-button {
  padding: 4px 8px;
}

.create-button:hover {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
  color: var(--text-color-white);
}


