/* Global */
/* * {
  font-family: Calibri;
} */
/* Tags */
table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  margin: 5px;
}
td {
  border: 1px solid #b9b9b9;
}
table thead td:first-child {
  border-top-left-radius: 5px;
}
table thead td:last-child {
  border-top-right-radius: 5px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/* Classes */
.table thead {
  border: 1px solid #b9b9b9;
  font-weight: bold !important;
  background: rgba(0, 0, 0, 0.05);
}

.table-body {
  background: rgba(255, 255, 255, 0.0001);
}

/* IDs */
