// This file sets the default bootstrap variants

// Your variable overrides
$primary:       #3288C4 !default;
$secondary:     #5F758D !default;
$success:       #28A745 !default;
$info:          #E53E3E !default;
$warning:       #FFD350 !default;
$danger:        #17A2B8 !default;
$light:         #F8F9FA !default;
$dark:          #343A40 !default;

@import "../node_modules/bootstrap/scss/bootstrap"; // must be at the bottom of the file

