.admin-container {
  padding: 50px;
}

.table-header {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  gap: 5px 10px;
}

.table-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px 10px;
  align-items: center;
}

.create-button {
  white-space: nowrap;
}
